.contact_global {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 70px;
}
.contact-form {
  background: #fff;
  margin: 5px auto;
  padding: 10px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contact-form {
  color: hwb(36 2% 19% / 0.973);
  text-align: center;
  margin-bottom: 20px;
}
.appel {
  background: url(../image_projet/mail_image.png) no-repeat center/cover;
  text-align: center;
  border-radius: 4px;
  color: hwb(36 2% 19% / 0.973);
  font-size: 1.5em;
  font-weight: bold;
}

.contact {
  text-align: center;
  border-radius: 4px;
}
 span a {
  color: white;
  font-weight: bold;
  background:hwb(36 2% 19% / 0.973) ;
  height: 50px;
  width: auto;
  border-radius: 8px;
  margin: 5px;
  padding: 3px 6px;
 }
input, label, textarea {
  all: unset;
}


.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: black;
  text-align: left;
  box-shadow: -1px 1px 4px hwb(36 2% 19% / 0.973);
}
.contact-form input[type="submit"] {
  background: hwb(36 2% 19% / 0.973);
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  width: 150px;
  position: center ;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: -1px 1px 4px black;
}

.contact-form input[type="submit"]:hover {
  background: rgb(100, 42, 3);
  color: white;
}

.acces_rapide {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: hwb(36 2% 19% / 0.973);
  border-radius: 8px;
  align-self: start;
  position: relative;
  z-index: 1;
}
.acces_rapide p {
  color: black;
  font-size: 1.8em;
  margin-bottom: 12px;
  font-weight: bold;
}
.acces_rapide ul li {
  height: 60px;
  background-color: hwb(36 2% 19% / 0.973);
  text-align: center;
  border-top: 2px solid white;*/
  transition: background 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.acces_rapide a {
  color: white;
  font-size: 1.2em;
}
.acces_rapide ul li:hover {
  background-color: rgb(100, 42, 3);
}

.vrai_globe {
  margin-top: 18px;
  clear: both;
}

h2 {
  color: black;
  font-size: 2.3rem;
  margin: 0 0 14px 0;
  letter-spacing: 5px;
  text-transform: capitalize;
  background: hwb(36 2% 19% / 0.973);
  text-align: center;
  height: 100px;
  border-left: 5px solid rgb(92, 65, 14);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: left;
}

@media (max-width: 900px) {
  .contact_global {
    grid-template-columns: 1fr;
    gap: 18px;
  }
  .contact-form {
    padding: 16px;
  }
  .acces_rapide {
    margin-left: 0;
    padding: 14px;
  }
  .vrai_globe {
    grid-template-columns: 1fr;
    margin-top: 8px;
  }
  .contact-form input[type="submit"] {
  width: 100px;
}
}
